@model IceCream.Models.FeedbackFormula
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "RecipeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <br />
            <br />
            <h3>Recipe Details</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="single-blog.html">Recipe Details</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
<!--================Blog Main Area =================-->
<section class="main_blog_area p_100">
    @{int idFor = 0;
<div class="container">
    <div class="row blog_area_inner">
        <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">

                    @foreach (var recipedetails in (IEnumerable<dynamic>)ViewBag.recipedetails)
                    {
                        idFor = @recipedetails.ForId;
                <div class="blog_item">
                    <div class="blog_img">

                        <img class="img-fluid" src="~/img/recipe/@recipedetails.ForCover"
                             width="840" height="500" alt="">


                    </div>
                    <div class="blog_text">
                        <div class="blog_time">
                            <div class="float-left">
                                <a href="#">@recipedetails.ForCreated.ToString("dd/MM/yyyy")</a>
                            </div>
                            <div class="float-right">
                                <ul class="list_style">
                                    <li><a href="#">By :  @recipedetails.AccUsername</a></li>
                                    <li><a href="#">bekery, sweet</a></li>
                                    <li><a href="#">Comments:  @ViewBag.SLfb </a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="#"><h4>@recipedetails.ForName</h4></a>
                        <pre style=" overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">@recipedetails.ForDescription</pre>
                    </div>
                </div>
                }
                    <div class="s_comment_list">

                        <h3 class="cm_title_br">Comments (@ViewBag.SLfb)</h3>
                        <div class="s_comment_list_inner">
                            @foreach (var recipedetailfeedback in (IEnumerable<dynamic>)ViewBag.recipedetailfeedback)
                            {
                <div class="media">
                    <div class="d-flex">
                        @if (@recipedetailfeedback.AccAvatar == null)
                        {
                <img src="~/img/avatar/avatardefault.jpg" width="70" height="70" alt=""> }
            else
            {
                <img src="~/img/avatar/@recipedetailfeedback.AccAvatar" width="70" height="70" alt="">}

                    </div>
                    <div class="media-body">
                        <p></p>
                        <a href="#"><h4>@recipedetailfeedback.AccUsername</h4></a>
                        <p>@recipedetailfeedback.Content</p>
                        <div class="date_rep">
                            <a href="#">@recipedetailfeedback.Created.ToString("dd/MM/yyyy")</a>


                        </div>
                    </div>
                </div>}


                        </div>
                    </div>
                    @if(@HttpContextAccessor.HttpContext.Session.GetString("username") ==null)
                    {
                  <div class="s_comment_area">
                        <h3 class="cm_title_br">Leave a Comment  </h3>
                        <div class="s_comment_inner">
                            <form >
                                <div class="form-group col-md-6">
                                    <span class="label label-default">You must be Login</span>
                                        </div>
                            </form>
                        </div>
                    </div>
                    }else{
     <div class="s_comment_area">
                        <h3 class="cm_title_br">Leave a Comment </h3>
                        <div class="s_comment_inner">
                            <form method="post" asp-controller="recipe" asp-action="feedbackrecipe" enctype="multipart/form-data" class="row contact_us_form" id="contactForm" novalidate="novalidate">
                                <div class="form-group col-md-6">
                                    <span class="label label-default">Comment as  @HttpContextAccessor.HttpContext.Session.GetString("username") </span>
                                </div>
                                <input hidden type="number" asp-for="FormulaId" value="@idFor" />
                                <input hidden type="number" asp-for="AccId" value="@HttpContextAccessor.HttpContext.Session.GetInt32("account")" />
                                <div class="form-group col-md-12">
                                    <textarea type="text" asp-for="Content" class="form-control"id="message" rows="1" placeholder="Wrtie message"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" value="submit" class="btn order_s_btn form-control">Submit now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    }
               
                </div>
        </div>
        <div class="col-lg-3">
            <div class="right_sidebar_area">
                <aside class="r_widget search_widget">
                    <div class="input-group">    
                            <form asp-controller="recipe" asp-action="recipe" method="get">
                                <input type="text" name="SearchString" class="form-control"  placeholder="Enter Search Keywords">
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><i class="icon icon-Search"></i></button>
                                </div>
                            </form>       
                    </div>
                </aside>
                <aside class="r_widget categories_widget">
                    <div class="r_title">
                        <h3>Savours</h3>
                    </div>
                    <ul class="list_style">
                        @foreach (var savour in ViewBag.savours)
                        {
                            <li><a asp-controller="recipe" asp-action="recipe" method="get" name="SearchString">@savour.SavName<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        }
                        
                    </ul>
                </aside>
                <aside class="r_widget recent_widget">
                    <div class="r_title">
                        <h3>Recent News</h3>
                    </div>
                    <div class="recent_w_inner">
                        @foreach (var newrecipe in ViewBag.newrecipes)
                        {
                        <div>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="~/img/recipe/@newrecipe.ForCover" width="70" height="62" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="#"><h4>@newrecipe.ForName</h4></a>
                                    <a href="#"><p>@newrecipe.AccUsername</p></a>
                                </div>
                            </div>
                        </div>
                    }
                                </div>
                </aside>
                <aside class="r_widget tags_widget">
                    <div class="r_title">
                        <h3>Tags</h3>
                    </div>
                    <ul class="list_style">
                        <li><a href="#">Baking Tips</a></li>
                        <li><a href="#">Bakery</a></li>
                        <li><a href="#">Recipe</a></li>
                        <li><a href="#">Baking Tool</a></li>
                        <li><a href="#">Cakes</a></li>
                        <li><a href="#">Chocolates</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div> }
</section>
<!--================End Blog Main Area =================-->
<!--================Newsletter Area =================-->
