@model IceCream.Models.Account
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/Profile.css" rel="stylesheet">
<link href="~/css/EditProfile.css" rel="stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <br /><br />
            <h3>Profile</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Profile</a></li>
            </ul>
        </div>
    </div>
</section>
@foreach (var profile in ViewBag.profile)
{
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">

                    @if (@profile.AccAvatar == null)
                    {
    <img src="~/img/avatar/avatardefault.jpg" alt="" />}
else
{
<img src="~/img/avatar/@profile.AccAvatar" alt="" />}

                    <div class="file btn btn-lg btn-primary">


                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @profile.AccFullname
                    </h5>
                    <h6>
                        @profile.AccUsername
                    </h6>
                    <p class="proile-rating">TIME REMAINING : <span>@ViewBag.timeend day </span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline(@ViewBag.SLct)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comments(@ViewBag.SLfb)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                @if(@HttpContextAccessor.HttpContext.Session.GetInt32("account") == @profile.AccId)
                {
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
                    
                    Edit Profile
                </button>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div>
                        <div class="profile-work">
                            <div>
                                <p><i class="fas fa-trophy"></i>Achievements acquired</p>
                                <a href="">Number of articles: @ViewBag.SLct</a><br />
                                <a href="">Quantity comments:  @ViewBag.SLfb</a>
                                @*@if (@HttpContextAccessor.HttpContext.Session.GetInt32("account") == @profile.AccId)
                                {
                            <p>SKILLS</p>
                                  <a href="">Web Designer</a><br />
                                  <a href="">Web Developer</a><br />
                                  <a href="">WordPress</a><br />
                                  <a href="">WooCommerce</a><br />
                                  <a href="">PHP, .Net</a><br />}*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@profile.AccEmail</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>@profile.AccPhone</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>@profile.AccGender</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of birth</label>
                            </div>
                            <div class="col-md-6">
                                
                                <p>@if (@profile.AccDob != null)
                                {@profile.AccDob.ToString("dd/MM/yyyy")}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>@profile.AccAddr</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div>
                            @foreach (var accountrecipe in ViewBag.accountrecipe)
                            {
                            if (accountrecipe.ForId != null)
                            {
                            <div class="row">
                                <div class="col-md-6">

                                    <img src="~/img/recipe/@accountrecipe.ForCover" height="100" width="200" alt="Alternate Text" />
                                </div>
                                <div class="col-md-3">
                                    <p>@accountrecipe.ForName</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="custom-btn btn-14" asp-controller="recipe" asp-action="recipedetail" asp-route-id="@accountrecipe.ForId">Read More</button>
                                </div>
                            </div>
                                                    <hr width="100%" align="center" />}
                                                else
                                                {
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>There are no formula </h3>
                                </div>
                            </div>}
                                }
                        </div>


                    </div>
                    <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                        @foreach (var accountfeedback in ViewBag.accountfeedback)
                        {
                            @if (ViewBag.accountfeedbackCount > 0)
                            {
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/img/recipe/@accountfeedback.ForCover" height="100" width="150" alt="Alternate Text" />
                        </div>
                        <div class="col-md-2">
                            <p>@accountfeedback.ForName</p>
                        </div>
                        <div class="col-md-4" style="color:black">
                            <p>@accountfeedback.Content</p>
                        </div>
                        <div class="col-md-3">
                            <button class="custom-btn btn-14" asp-controller="recipe" asp-action="recipedetail" asp-route-id="@accountfeedback.ForId"> Go</button>
                        </div>
                    </div>


                    <hr width="100%" align="center" />}
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h3>There are no comments </h3> 
                        </div>
                        </div>
                        }
                        }


                    </div>
                                        </div>
            </div>
        </div>
    </form>
</div> @*---------------------form edjt----------*@
                <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" asp-controller="profile" asp-action="editprofile" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div style="text-align:center" class="form-group">
                                        <label for="email1">Avatar</label><br />

                                        @if (@profile.AccAvatar == null)
                                        {
                            <img src="~/img/avatar/avatardefault.jpg" id="preview" width="150" height="150" /> }
                        else
                        {
                            <img src="~/img/avatar/@profile.AccAvatar" id="preview" width="150" height="150">}


                                        <input id="imageFile" type="file" name="fileavatar" class="imageFile" accept="image/*">
                                    </div>
                                    <div class="form-group">
                                        <label for="email1">Full name</label>
                                        <input type="text" asp-for="AccFullname" value="@profile.AccFullname"class="form-control" id="email1" placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email1">Email</label>
                                        <input type="text" asp-for="AccEmail" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                                        @*<small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>*@
                                    </div>
                                    <div class="form-group">
                                        <label for="email1">Phone</label>
                                        <input type="text" asp-for="AccPhone" class="form-control" id="email1" placeholder="Enter Phone">

                                    </div>
                                    <div class="form-group">
                                        <label for="email1">Address</label>
                                        <input type="text" asp-for="AccAddr" class="form-control" id="email1" placeholder="Enter Address">

                                    </div>
                                    <div class="form-group">
                                        <label for="email1">Gender</label>
                                        <select class="form-select" asp-for="AccGender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="email1">Dob</label>

                                        <input type="text" asp-for="AccDob" id="datepicker" class="form-control" />
                                        <span @*asp-validation-for="RegisterDate"*@ class="text-danger"></span>
                                    </div>


                                </div>
                                <div class="modal-footer border-top-0 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                                <input type="hidden" asp-for="AccId" value="@profile.AccId" />
                                <input type="hidden" asp-for="AccAvatar" value="@profile.AccAvatar" />
                            </form>
                        </div>
                    </div>
                </div>}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<script>
    $(document).ready(function () {

        $('#imageFile').change(function (evt) {

            var files = evt.target.files;
            var file = files[0];

            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });

</script>
