@model IceCream.Models.Book

@{
    ViewData["Title"] = "QuanLyBook";
    Layout = "~/Views/SharedAdmin/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tables</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a asp-controller="quanlybook" asp-action="add" class="btn btn-danger"> AddBook</a>

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>BookId</th>
                                        <th>BookPhoto</th>
                                        <th>BookName</th>
                                        <th>BookDescription</th>
                                        <th>BookPrice</th>
                                        <th>BookQuantity</th>
                                        <th>BookYear</th>
                                        <th>BookCreated</th>
                                        <th>BookUpdate</th>
                                        <th>BookStatus</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var books in ViewBag.quanlybooks)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@books.BookId</td>
                                            <td><img src="~/img/books/@books.BookPhoto" width="100" height="160" alt=""></td>
                                            <td>@books.BookName</td>
                                            <td>@books.BookDescription</td>
                                            <td>@books.BookPrice$</td>
                                            <td>@books.BookQuantity</td>
                                            <td>@books.BookYear</td>
                                            <td>
                                                @if (books.BookCreated != null)
                                                {@books.BookCreated.ToString("dd/MM/yyyy")}
                                            </td>
                                            <td>
                                                @if (books.BookUpdate != null)
                                                {@books.BookUpdate.ToString("dd/MM/yyyy")}
                                            </td>
                                            <td>@books.BookStatus</td>
                                            <td><a asp-controller="quanlybook" asp-action="edit" asp-route-id="@books.BookId" class="btn btn-warning btn-circle"><i class="fa fa-edit"></i> </a></td>
                                            <td><a asp-controller="quanlybook" asp-action="delete" asp-route-id="@books.BookId" onclick="return confirm('Are u sure ?')" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></a></td>

                                        </tr>

                                    }

                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
</div>
