
@using Microsoft.AspNetCore.Http;
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "HomeAdmin";
    Layout = "~/Views/SharedAdmin/_LayoutAdmin.cshtml";
}

@if (@HttpContextAccessor.HttpContext.Session.GetString("msg") == "s")
{
    <script type="text/javascript">
        Swal.fire({
            icon: 'success',
            title: 'Login succesfull',
            text: ' Welcome to Admin IceCream',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    HttpContextAccessor.HttpContext.Session.Remove("msg");
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.SLctnotacadmin</div>
                                <div>The formula has not been approved</div>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="quanlyrecipe" asp-action="quanlyrecipe">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.SLctadmin</div>
                                <div>Number of formulas</div>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="quanlyrecipe" asp-action="quanlyrecipe">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user-circle-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.SLaccountadmin</div>
                                <div>Number of users</div>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="quanlyuser" asp-action="quanlyuser">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.SLhdadmin</div>
                                <div>Number of invoices</div>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="manageinvoice" asp-action="manageinvoice">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->
       
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
